.home{
    min-height:100vh;
    display: flex;
    justify-content:center;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.home>.main{
    width: 100vw;
}

.home>.main>.firstRow{
    display: flex;
    justify-content: space-between;
    padding-right:2rem;
    margin-top: 2.5rem;
}


.home>.main>.firstRow>button{
    background-color: rgb(0, 102, 255);
    color: #e3e1e1;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    margin-top: -1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.home>.main>.firstRow>.logout:hover{
    background-color: rgb(3, 79, 194);
}

.home>.main>.firstRow>.logout:disabled{
    background-color: rgb(3, 79, 194);
    color: #fff;
    cursor: not-allowed;
}

.home>.main>.secondrow{
    display: flex;
    justify-content: space-between;
    margin-top: -3.7rem ;
    margin-left: -4rem;
}

.home>.main>.thirdrow{
    display: flex;
    justify-content: space-between;
    margin-top: -3.5rem;
    margin-left: -4rem;
    margin-bottom: 1rem;
}